:root {
    --spidr-background: #28292a;
    --spidr-blue: #479daf;
    --spidr-light-blue: #5b9fad;
    --spidr-icon-color:#1f7283;
    --transparent: rgba(255,255,255,.125);
}

.bg-noise {
  background-image: url(../assets/noise.png);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
  left: 0;
  opacity: .6
}
